openapi: 3.0.1
x-stoplight:
  id: 5mn3eoncafo87
info:
  title: Easypay API
  description: |-
    <a href='https://www.easypay.pt/en/terms-conditions-and-legal-terms' class='item'>Terms conditions and legal terms</a><br><a href='https://www.easypay.pt/en/privacy-policy' class='item'>Privacy Policy</a><br><br><b>EasyPay</b> API allows you to query payment meta-data, receive payment notifications and generate payment references. Since EasyPay API is based on REST principles, it´s very easy to write and test applications. You can use our code examples in PHP/CURL to test all the JSON payloads for Easypay Payment Service API.<br><br> We have two distinct environments on our API Services:<br> - If you are looking to receive payments, please use the <a href='https://api.prod.easypay.pt/docs#' class='item'><b>Production Documentation</b></a>.<br> - If you are looking to test or integrate, please use the <a href='https://api.test.easypay.pt/docs#' class='item'><b>Sandbox Documentation</b></a>. This environment will always have the latest road map deployments, usually all deployments are sent to production within 10 days. This environment is not meant for <b>Load Tests</b>, please do not use for this purpose, you might be blocked. <br><br>
    # Response Format
    Our default response produces a <i><b>application/json</b></i>, but the <b>Accept</b> request-header field can be used to specify certain media types which are acceptable for the response. <br>Our available options are: <i>application/json</i>, <i>application/xml</i>, <i>text/csv</i>
    # Authentication
    The Easypay API use <a class='item' href="https://backoffice.easypay.pt/apikeys">API keys</a> to authenticate requests. The keys should be included as Headers. if fails it will always respond 403.<br>

    <!-- ReDoc-Inject: <security-definitions> -->
  contact:
    name: Easypay Documentation
    email: tec@easypay.pt
  version: '2.0'
  x-logo:
    url: 'https://www.easypay.pt/images-old/logo_esypay_canvas.png'
    altText: easypay
servers:
  - url: 'https://api.prod.easypay.pt/2.0'
    description: Production
  - url: 'https://api.test.easypay.pt/2.0'
    description: Sandbox
security:
  - accountId: []
    apiKey: []
tags:
  - name: Single Payment
    description: 'Payments used on a one time purchase <br/> <div class="pc-tab"> <input checked="checked" id="tab1" type="radio" name="pct" /> <input id="tab2" type="radio" name="pct" /> <input id="tab3" type="radio" name="pct" /> <input id="tab4" type="radio" name="pct" /> <input id="tab5" type="radio" name="pct" /> <input id="tab6" type="radio" name="pct" /> <input id="tab7" type="radio" name="pct" /> <input id="tab8" type="radio" name="pct" /> <nav> <ul> <li class="tab1"> <label id="ico1" for="tab1" class="active" onclick=''document.getElementById("ico1").className = "active"; document.getElementById("ico2").className = ""; document.getElementById("ico3").className = "" document.getElementById("ico4").className = ""; document.getElementById("ico5").className = ""; document.getElementById("ico6").className =""; document.getElementById("ico7").className =""; document.getElementById("ico8").className =""''><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mb.png"/></label> </li> <li class="tab2"> <label id="ico2" for="tab2" onclick=''document.getElementById("ico2").className = "active"; document.getElementById("ico1").className = ""; document.getElementById("ico3").className = "" document.getElementById("ico4").className = ""; document.getElementById("ico5").className = ""; document.getElementById("ico6").className =""; document.getElementById("ico7").className =""; document.getElementById("ico8").className =""''><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mbway.png"/></label> </li> <li class="tab3"> <label id="ico3" for="tab3" onclick=''document.getElementById("ico3").className = "active"; document.getElementById("ico2").className = ""; document.getElementById("ico1").className = "";  document.getElementById("ico4").className = "";  document.getElementById("ico5").className = ""; document.getElementById("ico6").className =""; document.getElementById("ico7").className ="" document.getElementById("ico8").className ="";''><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/visa.png"/></label> </li> <li class="tab4"> <label id="ico4" for="tab4" onclick=''document.getElementById("ico4").className = "active"; document.getElementById("ico2").className = ""; document.getElementById("ico1").className = ""; document.getElementById("ico3").className = ""; document.getElementById("ico5").className = ""; document.getElementById("ico6").className =""; document.getElementById("ico7").className =""; document.getElementById("ico8").className =""''><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/dd.png"/></label> </li> <li class="tab5"> <label id="ico5" for="tab5" onclick=''document.getElementById("ico5").className = "active"; document.getElementById("ico2").className = ""; document.getElementById("ico1").className = "";  document.getElementById("ico3").className = ""; document.getElementById("ico4").className =""; document.getElementById("ico6").className =""; document.getElementById("ico7").className =""; document.getElementById("ico8").className =""''><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/boleto.png"/></label> </li> <li class="tab6"> <label id="ico6" for="tab6" onclick=''document.getElementById("ico6").className = "active"; document.getElementById("ico2").className = ""; document.getElementById("ico1").className = "";  document.getElementById("ico3").className = ""; document.getElementById("ico4").className =""; document.getElementById("ico5").className =""; document.getElementById("ico7").className =""; document.getElementById("ico8").className =""''><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/vi.png"/></label> </li> <li class="tab7"> <label id="ico7" for="tab7" onclick=''document.getElementById("ico7").className = "active"; document.getElementById("ico2").className = ""; document.getElementById("ico1").className = "";  document.getElementById("ico3").className = ""; document.getElementById("ico4").className =""; document.getElementById("ico5").className =""; document.getElementById("ico6").className =""; document.getElementById("ico8").className =""''><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/sc.png"/></label> </li> <li class="tab8"> <label id="ico8" for="tab8" onclick=''document.getElementById("ico8").className = "active"; document.getElementById("ico2").className = ""; document.getElementById("ico1").className = "";  document.getElementById("ico3").className = ""; document.getElementById("ico4").className =""; document.getElementById("ico5").className =""; document.getElementById("ico6").className =""; document.getElementById("ico7").className =""''><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/uf.png"/></label> </li> </ul> </nav> <section> <div class="tab1"> <h2>Multibanco Reference</h2> <br/> <p>When calling the API 2.0 in single, our system returns an <b><i>entity</i></b> and <b><i>reference</i></b> in the response JSON. When the payment is made by the customer, our system sends a <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Single <b><i>ID</i></b>. Upon receipt, your system should call the <a href="/docs#tag/Single-Payment%2Fpaths%2F~1single~1%7Bid%7D%2Fget">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mb_single.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mb_single.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab2"> <h2>MBWay</h2> <br/> <p>Upon successfully calling API 2.0 on a Single with type <b><i>sale</i></b>, our system will communicate to the end customer''s <b>MBWAY App</b>. After the event of the customer accepting/declining the payment, our system sends a <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Single <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon receipt of success, your system should call <a href="/docs#tag/Single-Payment%2Fpaths%2F~1single~1%7Bid%7D%2Fget">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p> <p>Only for <B>Test Environment</B>, we have these possible cases on phone:</p> &nbsp;&nbsp;911234567 - Authorized for all operations<br/> &nbsp;&nbsp;917654321 - Failed for all operations<br/> &nbsp;&nbsp;913456789 - Declined for all operations<br/> &nbsp;&nbsp;919876543 - Pending for all operations<br/> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mbway_single.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/mbway_single.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab3"> <h2>Visa & Mastercard</h2> <br/> <p>By successfully calling the API 2.0 in a Single with type <b><i>sale</i></b>, our system returns a <b><i>URL</i></b> in the response JSON for the client to be forwarded to our credit card gateway. The end customer must enter the card data. Our system validates the card in the <b>VISA / MASTERCARD</b> and sends a <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Single <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon receipt of a success, your system should call the <a href="/docs#tag/Single-Payment%2Fpaths%2F~1single~1%7Bid%7D%2Fget">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p><p>For Visa forward and Visa details configurations follow this <a target="_blank" href="https://github.com/Easypay/documentation/blob/master/apiv2/Visa-Details-and-Fwd-v2.md">link</a></p> <p>Only for <B>Test Environment</B>, we have these possible credit card numbers:</p> &nbsp;&nbsp;0000000000000000 - Authorized for all operations<br/> &nbsp;&nbsp;2222222222222222 - Proceed with 3DS authentication<br/> &nbsp;&nbsp;1111111111111111 - Failed for all operations<br/> &nbsp;&nbsp;1234123412341234 - Declined for all operations<br/> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/visa_single.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/visa_single.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab4"> <h2>SEPA Direct Debit</h2> <br/> <p>By successfully calling the API 2.0 in a Single with type <b><i>sale</i></b>, our system returns a <b><i>URL</i></b> in the response JSON for the client to be forwarded to our credit card gateway. The end customer must enter the card data. Our system validates the card in the <b>VISA / MASTERCARD</b> and sends a <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Single <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon receipt of a success, your system should call the <a href="/docs#tag/Single-Payment%2Fpaths%2F~1single~1%7Bid%7D%2Fget">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p> <p>Only for <B>Test Environment</B>, all valid iban will return success but this one: PT50000201231234567890154</p> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/dd_single.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/dd_single.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab5"> <h2>Boleto</h2> <br/> <p>By successfully calling the API 2.0 in a Single with type <b><i>sale</i></b>, our system returns a <b><i>URL</i></b> in the response JSON for the client to be forwarded to our credit card gateway. The end customer must enter the card data. Our system validates the card in the <b>VISA / MASTERCARD</b> and sends a <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Single <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon receipt of a success, your system should call the <a href="/docs#tag/Single-Payment%2Fpaths%2F~1single~1%7Bid%7D%2Fget">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/bb_single.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/bb_single.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab6"> <h2>Virtual IBAN</h2> <br/> <p>When calling the API 2.0 in single, our system returns an <b><i>IBAN</i></b> in the response JSON. When the payment is made by the customer, our system sends a <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Single <b><i>ID</i></b>. Upon receipt, your system should call the <a href="/docs#tag/Single-Payment%2Fpaths%2F~1single~1%7Bid%7D%2Fget">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/iban_single.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/iban_single.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab7"> <h2>Santander Consumer</h2> <br/> <p>By successfully calling the API 2.0 in a Single, our system returns a <b><i>URL</i></b> in the response JSON for the client to be forwarded to. The end customer must fullfill the journey in the Santander Consumer page. After the journey is completed with success, our system sends a <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Single <b><i>ID</i></b>. Upon receipt, your system should call the <a href="/docs#tag/Single-Payment%2Fpaths%2F~1single~1%7Bid%7D%2Fget">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/santander_single.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/santander_single.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab8"> <h2>Universo Flex</h2> <br/> <p>By successfully calling the API 2.0 in a Single with type <b><i>sale</i></b>, our system returns a <b><i>URL</i></b> in the response JSON for the client to be forwarded to. The end customer must fullfill the journey in the Universo Flex page. After the journey is completed with success or failure, our system sends a <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Single <b><i>ID</i></b>. Upon receipt, your system should call the <a href="/docs#tag/Single-Payment%2Fpaths%2F~1single~1%7Bid%7D%2Fget">Single Details</a> endpoint with the Single <b><i>ID</i></b> reported as successful in order to confirm it.</p><p>For Visa forward and Visa details configurations follow this <a target="_blank" href="https://github.com/Easypay/documentation/blob/master/apiv2/Visa-Details-and-Fwd-v2.md">link</a></p> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/universo_single.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/single/universo_single.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> </section> </div> <style> .pc-tab section div{ display: none; } .pc-tab input{ display: none; } #tab1:checked ~ section .tab1, #tab2:checked ~ section .tab2, #tab3:checked ~ section .tab3, #tab4:checked ~ section .tab4, #tab5:checked ~ section .tab5, #tab6:checked ~ section .tab6, #tab7:checked ~ section .tab7, #tab8:checked ~ section .tab8 { display: block; } #tab1:checked ~ nav .tab1, #tab2:checked ~ nav .tab2, #tab3:checked ~ nav .tab3, #tab4:checked ~ nav .tab4, #tab5:checked ~ nav .tab5, #tab6:checked ~ nav .tab6, #tab7:checked ~ nav .tab7, #tab8:checked ~ nav .tab8 { color: red; } .pc-tab { width: 100%; max-width: 700px; margin: 0 auto; } .pc-tab ul { list-style: none; margin: 0; padding: 0 !important; } .pc-tab ul li label { float: left; padding: 5px 25px; border: 1px solid #ddd; cursor: pointer; background: #eeeeee; color: #444; position: relative; top: 1px; } } .pc-tab ul li label:hover { background: #dddddd; } .pc-tab ul li label:active { background: #ffffff; } .pc-tab ul li label.active { background: #ffffff; border-bottom: 1px solid #ffffff; } .pc-tab ul li label:focus { background: #ffffff; } .pc-tab ul li:not(:last-child) label { border-right-width: 0; } .pc-tab section { clear: both; } .pc-tab section div { padding: 20px; width: 100%; border: 1px solid #ddd; background: #fff; line-height: 1.5em; letter-spacing: 0.3px; color: #444; } .pc-tab section div h2 { margin: 0; letter-spacing: 1px; color: #34495e; } #tab1:checked ~ nav .tab1 label, #tab2:checked ~ nav .tab2 label, #tab3:checked ~ nav .tab3 label, #tab4:checked ~ nav .tab4 label, #tab5:checked ~ nav .tab5 label, #tab6:checked ~ nav .tab6 label, #tab7:checked ~ nav .tab7 label, #tab8:checked ~ nav .tab8 label { background: white; color: #111; position: relative; } #tab1:checked ~ nav .tab1 label:after, #tab2:checked ~ nav .tab2 label:after, #tab3:checked ~ nav .tab3 label:after, #tab4:checked ~ nav .tab4 label:after, #tab5:checked ~ nav .tab5 label:after, #tab6:checked ~ nav .tab6 label:after, #tab7:checked ~ nav .tab7 label:after, #tab8:checked ~ nav .tab8 label:after { content: ""; display: block; position: absolute; height: 2px; width: 100%; background: #ffffff; left: 0; bottom: -1px; } .hide{ display: none; } .myblue{ color: #0D71F9; } .mygreen{ color: #39B54A; } .myred{ color: #D4145A; } .mypink{ color: #EF2AC1; } @media only screen and (max-width: 600px) { .hide_mobile { display: none; } } </style>'
  - name: Frequent Payment
    description: |-
      Payments used on frequent services with amounts and periodicity changes <br/> <div id="freq"> <div class="pc-tab"> <input checked="checked" id="tab1a" type="radio" name="pcta" /> <input id="tab2a" type="radio" name="pcta" /> <input id="tab3a" type="radio" name="pcta" /> <input id="tab4a" type="radio" name="pcta" /> <nav> <ul> <li class="tab1a"> <label id="ico1a" for="tab1a" class="active" onclick='document.getElementById("ico1a").className = "active"; document.getElementById("ico2a").className = ""; document.getElementById("ico3a").className = ""; document.getElementById("ico4a").className = ""'><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mb.png"/></label> </li> <li class="tab2a"> <label id="ico2a" for="tab2a" onclick='document.getElementById("ico2a").className = "active"; document.getElementById("ico1a").className = ""; document.getElementById("ico3a").className = ""; document.getElementById("ico4a").className = ""'><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/mbway.png"/></label> </li> <li class="tab3a"> <label id="ico3a" for="tab3a" onclick='document.getElementById("ico3a").className = "active"; document.getElementById("ico2a").className = ""; document.getElementById("ico1a").className = ""; document.getElementById("ico4a").className = ""'><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/visa.png"/></label> </li> <li class="tab4a"> <label id="ico4a" for="tab4a" onclick='document.getElementById("ico4a").className = "active"; document.getElementById("ico2a").className = ""; document.getElementById("ico1a").className = ""; document.getElementById("ico3a").className = ""'><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/icons/dd.png"/></label> </li> </ul> </nav> <section> <div class="tab1a"> <h2>Multibanco Reference</h2> <br/> <p>After one Frequent MB request our system will return an <b><i>entity</i></b> and a <b><i>reference</i></b> in the JSON response. The customer can always pay between the min and max values several times before the expiration date or when the method  <a href="/docs#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fdelete">Deletes Frequent</a> is called with success. If the parameter <b><i>unlimited_payments</i></b> is active transactions will be unlimited, <b><i>entity</i></b> and <b><i>reference</i></b> is reseted on our provider 3 times a day, otherwise the total value of payments can’t exceed the max defined. For each payment made with this entity and reference, our system sends a <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Frequent <b><i>ID</i></b>.</p> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mb_freq.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mb_freq.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab2a"> <h2>MBWay</h2> <br/> <p>After successfully calling the API 2.0 on a Frequent MBW you can capture funds through the Frequent <b><i>ID</i></b> on a Capture call, our system will communicate to the end customer's <b>MBWAY App</b>. If the final customer accepts / rejects payment, the system sends a <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Capture <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon successful receipt, the system should call the <a href="/docs#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful in order to confirm it.</p> <p>Only for <B>Test Environment</B>, we have these possible cases on phone:</p> &nbsp;&nbsp;911234567 - Authorized for all operations<br/> &nbsp;&nbsp;917654321 - Declined for all operations<br/> &nbsp;&nbsp;919876543 - Pending for all operations<br/> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mbway_freq.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/mbway_freq.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab3a"> <h2>Visa & Mastercard</h2> <br/> <p>When calling the API 2.0 successfully on a Frequent CC, the system returns a <b><i>URL</i></b> in JSON for the client to be forwarded to our credit card gateway. The end customer must enter the card data. The system validates the card in the <b>VISA / MASTERCARD</b> and notifies <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Frequent <b><i>ID</i></b> and a status (success or failed). Upon successful receipt, the system should call the <a href="/docs#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful. From a successful communication, you can capture funds using the Frequent <b><i>ID</i></b> in a Capture call. The system will capture the funds from the card and sends a <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Capture <b><i>ID</i></b> and a status (success or failed). Upon successful receipt, the system should call the <a href="/docs#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful.</p><p>For Visa forward and Visa details configurations follow this <a target="_blank" href="https://github.com/Easypay/documentation/blob/master/apiv2/Visa-Details-and-Fwd-v2.md">link</a>.</p> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/visa_freq.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/visa_freq.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> <div class="tab4a"> <h2>SEPA Direct Debit</h2> <br/> <p>When calling API 2.0 successfully on a Frequent DD, the system returns in JSON including the  SEPA Direct Debit Mandate <b><i>ID</i></b> and an additional <b><i>entity</i></b>/<b><i>reference</i></b> for additional payments. From now on funds can be captured through the Frequent <b><i>ID</i></b> using the <a href="/docs#tag/Payment-Generic-Operations%2Fpaths%2F~1capture~1%7Bid%7D%2Fpost">Capture</a> endpoint, these funds can take up to 48 business hours to obtain a SEPA direct debit response. When responding, the system notifies with  <a href="/docs#tag/Notification%2Fpaths%2F~1your-generic-notification-endpoint%2Fpost">Generic Notification</a> with the Capture <b><i>ID</i></b> and a <b><i>status</i></b> (success or failed). Upon successful receipt, the system should call the <a href="/docs#tag/Frequent-Payment%2Fpaths%2F~1frequent~1%7Bid%7D%2Fget">Frequent Details</a> endpoint with the Frequent <b><i>ID</i></b> reported as successful.</p> <br/> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/dd_freq.png" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/img_thumb.png"/></a> <a href="https://easypay-cdn-delivery.s3.amazonaws.com/docs/freq/dd_freq.pdf" target="_blank"><img src="https://easypay-cdn-delivery.s3.amazonaws.com/docs/thumbnails/pdf_thumb.png"/></a> </div> </section> </div> </div> <style> #freq .pc-tab section div{ display: none; } #freq .pc-tab input{ display: none; } #freq #tab1a:checked ~ section .tab1a, #freq #tab2a:checked ~ section .tab2a, #freq #tab4a:checked ~ section .tab4a, #freq #tab3a:checked ~ section .tab3a { display: block; } #freq #tab1a:checked ~ nav .tab1a, #freq #tab2a:checked ~ nav .tab2a, #freq #tab4a:checked ~ nav .tab4a, #freq #tab3a:checked ~ nav .tab3a { color: red; } #freq .pc-tab { width: 100%; max-width: 700px; margin: 0 auto; } #freq .pc-tab ul { list-style: none; margin: 0; padding: 0 !important; } #freq .pc-tab ul li label { float: left; padding: 5px 25px; border: 1px solid #ddd; cursor: pointer;
      background: #eeeeee; color: #444; position: relative; top: 1px; } #freq .pc-tab ul li label:hover { background: #dddddd; } #freq .pc-tab ul li label:active { background: #ffffff; } #freq .pc-tab ul li label.active { background: #ffffff; border-bottom: 1px solid #ffffff; } #freq .pc-tab ul li label:focus { background: #ffffff; }
      #freq .pc-tab ul li:not(:last-child) label { border-right-width: 0; } #freq .pc-tab section { clear: both; } #freq .pc-tab section div { padding: 20px; width: 100%; border: 1px solid #ddd; background: #fff; line-height: 1.5em; letter-spacing: 0.3px; color: #444; } #freq .pc-tab section div h2 { margin: 0; letter-spacing: 1px; color: #34495e; } #freq #tab1a:checked ~ nav .tab1a label, #freq #tab2a:checked ~ nav .tab2a label, #freq #tab4a:checked ~ nav .tab4a label, #freq #tab3a:checked ~ nav .tab3a label { background: white; color: #111; position: relative; } #freq #tab1a:checked ~ nav .tab1a label:after, #freq #tab2a:checked ~ nav .tab2a label:after, #freq #tab4a:checked ~ nav .tab4a label:after, #freq #tab3a:checked ~ nav .tab3a label:after { content: ""; display: block; position: absolute; height: 2px; width: 100%; background: #ffffff; left: 0; bottom: -1px; } </style>
  - name: Subscription Payment
  - name: Payment Generic Operations
    description: 'These operations can be used on all our payment types: single, frequent and subscription'
  - name: Notification
    description: 'On <a href=''https://backoffice.easypay.pt'' class=''item''>Easypay Backoffice</a> please configure your url''s for each type of notification on menu: <i><b>Web Services->Configuration API 2.0->Notifications</b></i> and check the your notification history log on menu: <i><b>Web Services->Notifications API 2.0</b></i>. <br>There is also a configuration to include a security header (x-easypay-code) on all notifications. <br> Our system default notification payloads can be customized to any format if needed.'
  - name: Reports
  - name: Out Payment
    description: These operations will allow our clients to transfer their funds from Easypay Accounts to a Sepa Bank Account.
  - name: Config
    description: Account URL configuration for notifications and credit card transactions
  - name: Road Map
    description: Our future implementations on Easypay API
  - name: Checkout
paths:
  /single:
    get:
      tags:
        - Single Payment
      summary: Lists single payments
      description: Full report with all the single payments from your Account
      parameters:
        - name: page
          in: query
          description: Page Number
          schema:
            type: number
        - name: records_per_page
          in: query
          description: 'Limit records per page (Max: 100)'
          schema:
            type: number
            default: 20
        - name: type
          in: query
          description: Filter by type
          schema:
            type: string
        - name: expiration_time
          in: query
          description: Filter by expiration time interval (max 30 days)
          schema:
            type: string
        - name: method
          in: query
          description: Filter by method
          schema:
            type: string
        - name: customer
          in: query
          description: Filter by customer key
          schema:
            type: string
        - name: id
          in: query
          description: Filter by id
          schema:
            type: string
        - name: key
          in: query
          description: Filter by single key
          schema:
            type: string
        - name: value
          in: query
          description: Filter by value
          schema:
            type: number
            format: double
        - name: created_at
          in: query
          description: Filter by created datetime interval (max 30 days)
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Response-Meta'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment_SingleWithTransactions'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
      security:
        - accountId: []
          apiKey: []
      operationId: single-get
    post:
      tags:
        - Single Payment
      summary: Create single payment
      parameters: []
      requestBody:
        description: Payment configuration object to generate a payment
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Properties_Has_Type'
                - $ref: '#/components/schemas/Payment_Single_Base'
                - $ref: '#/components/schemas/Payment_Single_Method_Request'
                - $ref: '#/components/schemas/Properties_Has_SddMandate'
                - $ref: '#/components/schemas/Payment_Capture'
            examples:
              Multibanco:
                value:
                  expiration_time: '2017-12-12 16:05'
                  currency: EUR
                  customer:
                    id: 22ea3cc9-424b-489a-91b7-8955f643dc93
                    name: Customer Example
                    email: customer@example.com
                    phone: '911234567'
                    phone_indicative: '+351'
                    fiscal_number: PT123456789
                    key: Key Example
                    language: PT
                  key: Example Key
                  value: 17.5
                  type: sale
                  method: mb
                  capture:
                    descriptive: string
                    transaction_key: string
                    capture_date: string
                    account:
                      id: 22ea3cc9-424b-489a-91b7-8955f643dc93
                    splits:
                      - split_key: string
                        split_descriptive: Descriptive Example
                        value: 1
                        account:
                          id: 22ea3cc9-424b-489a-91b7-8955f643dc93
                        margin_value: 0.1
                        margin_account:
                          id: 22ea3cc9-424b-489a-91b7-8955f643dc93
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response_MinimalOutput_Single'
                  - $ref: '#/components/schemas/StatusDetails'
                  - $ref: '#/components/schemas/Response-Capture-Minimal'
            application/xml:
              example: |-
                <response>
                   <status>ok</status>
                   <message>
                      <string>Your request was successfully created</string>
                   </message>
                   <id>4c67e74b-a256-4e0a-965d-97bf5d01bd50</id>
                   <method>
                      <type>mb</type>
                      <status>pending</status>
                      <entity>10611</entity>
                      <reference>987654321</reference>
                      <url>https://www.easypay.pt/_s/c11.php?e=10611&r=987654321&v=19&t_key=example+key&c=EN&l=EN</url>
                      <last_four>1234</last_four>
                      <card_type>VISA</card_type>
                      <expiration_date>01/22</expiration_date>
                      <alias>626E6AA2224D017917D839D4D39296B49441A1D10DA7E8DB6E7E1A4356DDE75429531BEB32190C6D736FA12C7A116CA5F3FCAEE72570406F51371A0CB6E14B6B</alias>
                      <sdd_mandate>
                         <id>12345678901</id>
                         <billing_entity>PT16103627</billing_entity>
                         <iban>PT50002700000001234567833</iban>
                         <key>Key Example</key>
                         <name>Name Example</name>
                         <email>customer@example.com</email>
                         <phone>911234567</phone>
                         <account_holder>Account Name Example</account_holder>
                         <country_code>PT</country_code>
                         <max_num_debits>12</max_num_debits>
                      </sdd_mandate>
                   </method>
                   <customer>
                      <id>22ea3cc9-424b-489a-91b7-8955f643dc93</id>
                   </customer>
                </response>
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
      operationId: single-post
      description: |-
        Single payments are one-time transactions that will let your customers pay an amount of money to you. 

        Examples may include a purchase of a good or service, or a donation. 

        Every payment method supported by easypay allows single payments.
  '/single/{id}':
    get:
      tags:
        - Single Payment
      summary: Shows single payment details
      parameters:
        - name: id
          in: path
          description: Resource Identification
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment_Single'
              examples:
                example-1:
                  value:
                    id: 4c67e74b-a256-4e0a-965d-97bf5d01bd50
                    expiration_time: '2017-12-12 16:05'
                    currency: EUR
                    customer:
                      id: 22ea3cc9-424b-489a-91b7-8955f643dc93
                      name: Customer Example
                      email: customer@example.com
                      phone: '911234567'
                      phone_indicative: 351
                      fiscal_number: PT123456789
                      key: Key Example
                      language: PT
                    key: Example Key
                    value: 17.5
                    method:
                      type: mb
                      sdd_mandate:
                        id: '12345678901'
                        iban: PT50002700000001234567833
                        key: Key Example
                        name: Name Example
                        email: customer@example.com
                        phone: '911234567'
                        account_holder: Acount Name Example
                        country_code: PT
                        max_num_debits: '12'
                        reference_adc: '987654321123'
                    payment_status: paid
                    paid_at: '2017-12-12 16:05:02'
                    created_at: '2017-12-12 16:05:02'
            application/xml:
              example: |-
                <payment>
                   <id>4c67e74b-a256-4e0a-965d-97bf5d01bd50</id>
                   <type>sale</type>
                   <key>Example Key</key>
                   <expiration_time>2019-12-12T16:05:00Z</expiration_time>
                   <customer>
                      <id>22ea3cc9-424b-489a-91b7-8955f643dc93</id>
                      <name>Customer Example</name>
                      <email>customer@example.com</email>
                      <phone>911234567</phone>
                      <phone_indicative>+351</phone_indicative>
                      <fiscal_number>PT123456789</fiscal_number>
                      <key>Key Example</key>
                      <language>PT</language>
                   </customer>
                   <method>
                      <type>MB</type>
                      <status>pending</status>
                      <entity>10611</entity>
                      <reference>987654321</reference>
                      <url>https://www.easypay.pt/_s/c11.php?e=10611&r=987654321&v=19&t_key=example+key&c=EN&l=EN</url>
                      <last_four>1234</last_four>
                      <card_type>VISA</card_type>
                      <expiration_date>01/22</expiration_date>
                      <alias>626E6AA2224D017917D839D4D39296B49441A1D10DA7E8DB6E7E1A4356DDE75429531BEB32190C6D736FA12C7A116CA5F3FCAEE72570406F51371A0CB6E14B6B</alias>
                      <sdd_mandate>
                         <id>12345678901</id>
                         <billing_entity>PT16103627</billing_entity>
                         <iban>PT50002700000001234567833</iban>
                         <key>Key Example</key>
                         <name>Name Example</name>
                         <email>customer@example.com</email>
                         <phone>911234567</phone>
                         <account_holder>Account Name Example</account_holder>
                         <country_code>PT</country_code>
                         <max_num_debits>12</max_num_debits>
                      </sdd_mandate>
                   </method>
                   <currency>EUR</currency>
                   <value>2</value>
                </payment>
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
      operationId: single-id-get
      description: ''
    delete:
      tags:
        - Single Payment
      summary: Deletes single payment
      description: 'This delete operation is not applicable for MB and BB method.<br>All CC and MBW authorisations will be deleted, releasing the funds.<br>All MBW operations waiting for user interaction will be cancelled.<br>Before 6pm all Sepa Direct Debits waiting for file processing will be cancelled.'
      parameters:
        - name: id
          in: path
          description: Resource Identification
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No content
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
      operationId: single-delete
    patch:
      tags:
        - Single Payment
      summary: Updates single payment details
      parameters:
        - name: id
          in: path
          description: Resource Identification
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Single Payment object to edit existing one
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment_Single_Patchable'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Payment_Single'
                  - $ref: '#/components/schemas/StatusDetails'
              examples:
                Response:
                  value:
                    id: 4c67e74b-a256-4e0a-965d-97bf5d01bd50
                    expiration_time: '2017-12-12 16:05'
                    currency: EUR
                    customer:
                      id: 22ea3cc9-424b-489a-91b7-8955f643dc93
                      name: Customer Example
                      email: customer@example.com
                      phone: '911234567'
                      phone_indicative: 351
                      fiscal_number: PT123456789
                      key: Key Example
                      language: PT
                    key: Example Key
                    value: 17.5
                    method:
                      sdd_mandate:
                        id: '12345678901'
                        iban: PT50002700000001234567833
                        key: Key Example
                        name: Name Example
                        email: customer@example.com
                        phone: '911234567'
                        account_holder: Acount Name Example
                        country_code: PT
                        max_num_debits: '12'
                        reference_adc: '987654321123'
                    payment_status: paid
                    paid_at: '2017-12-12 16:05:02'
                    created_at: '2017-12-12 16:05:02'
                    status: ok
                    message:
                      - Your request was successfully created
            application/xml:
              example: |-
                <payment>
                   <id>4c67e74b-a256-4e0a-965d-97bf5d01bd50</id>
                   <type>sale</type>
                   <key>Example Key</key>
                   <expiration_time>2019-12-12T16:05:00Z</expiration_time>
                   <customer>
                      <id>22ea3cc9-424b-489a-91b7-8955f643dc93</id>
                      <name>Customer Example</name>
                      <email>customer@example.com</email>
                      <phone>911234567</phone>
                      <phone_indicative>+351</phone_indicative>
                      <fiscal_number>PT123456789</fiscal_number>
                      <key>Key Example</key>
                      <language>PT</language>
                   </customer>
                   <method>
                      <type>MB</type>
                      <status>pending</status>
                      <entity>10611</entity>
                      <reference>987654321</reference>
                      <url>https://www.easypay.pt/_s/c11.php?e=10611&r=987654321&v=19&t_key=example+key&c=EN&l=EN</url>
                      <last_four>1234</last_four>
                      <card_type>VISA</card_type>
                      <expiration_date>01/22</expiration_date>
                      <alias>626E6AA2224D017917D839D4D39296B49441A1D10DA7E8DB6E7E1A4356DDE75429531BEB32190C6D736FA12C7A116CA5F3FCAEE72570406F51371A0CB6E14B6B</alias>
                      <sdd_mandate>
                         <id>12345678901</id>
                         <billing_entity>PT16103627</billing_entity>
                         <iban>PT50002700000001234567833</iban>
                         <key>Key Example</key>
                         <name>Name Example</name>
                         <email>customer@example.com</email>
                         <phone>911234567</phone>
                         <account_holder>Account Name Example</account_holder>
                         <country_code>PT</country_code>
                         <max_num_debits>12</max_num_debits>
                      </sdd_mandate>
                   </method>
                   <currency>EUR</currency>
                   <value>2</value>
                </payment>
        '304':
          description: Not Modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
      x-codegen-request-body-name: body
      operationId: single-patch
  /frequent:
    get:
      tags:
        - Frequent Payment
      summary: Lists frequent payments
      description: Full report with all the frequent payments from your Account Id
      parameters:
        - name: page
          in: query
          description: Page Number
          schema:
            type: number
        - name: records_per_page
          in: query
          description: 'Limit records per page (Max: 100)'
          schema:
            type: number
            default: 20
        - name: expiration_time
          in: query
          description: Filter by expiration time interval (max 30 days)
          schema:
            type: string
        - name: method
          in: query
          description: Filter by method
          schema:
            type: string
        - name: customer
          in: query
          description: Filter by customer key
          schema:
            type: string
        - name: id
          in: query
          description: Filter by id
          schema:
            type: string
        - name: key
          in: query
          description: Filter by frequent key
          schema:
            type: string
        - name: created_at
          in: query
          description: Filter by created datetime interval (max 30 days)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Response-Meta'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment_Frequent'
              examples:
                Response:
                  value:
                    meta:
                      page:
                        current: 1
                        total: 2335
                      records:
                        total: 4669
                        per_page: 2
                      links:
                        first: '?page=1'
                        prev: ''
                        next: '?page=2'
                        last: '?page=2335'
                    data:
                      - id: ab2f2eb6-3655-4951-98ae-36367d5f3727
                        key: Default Key
                        expiration_time: '2022-12-12T16:05:00Z'
                        customer:
                          id: 06300032-5cbd-4393-b73d-9f4c9875270a
                          name: '***'
                          email: ema***@example.com
                          phone: '***'
                          fiscal_number: '***'
                          key: Customer key
                          language: PT
                        method:
                          type: CC
                          status: waiting
                          url: 'https://cc.test.easypay.pt/start/ab2f2eb6-3655-4951-98ae-36367d5f3727'
                        currency: EUR
                        max_value: 20.55
                        min_value: 2.32
                        unlimited_payments: false
                        created_at: '2022-11-23 12:03:29'
                      - id: f15cee45-d5a5-469d-8cb2-79a6dcba977f
                        key: Default Key
                        expiration_time: '2022-12-12T16:05:00Z'
                        customer:
                          id: 48307582-91bc-4e15-a9f6-84633fbdd2c7
                          name: '***'
                          email: ema***@example.com
                          phone: '***'
                          fiscal_number: '***'
                          key: Customer key
                          language: PT
                        method:
                          type: DD
                          status: active
                          sdd_mandate:
                            id: '50124502381'
                            billing_entity: PT16103627
                            iban: PT500027**XX7833
                            key: Sdd Mandate key
                            name: Fre*** DD***
                            email: cus***@example.com
                            phone: 911***567
                            account_holder: Acc*** Exa***
                            country_code: PT
                            max_num_debits: '0'
                        currency: EUR
                        max_value: 20.55
                        min_value: 2.32
                        unlimited_payments: false
                        created_at: '2022-11-23 11:56:35'
            application/xml:
              example: |-
                <report>
                   <meta>
                      <page>
                         <current>1</current>
                         <total>40</total>
                      </page>
                      <records>
                         <total>40</total>
                         <per_page>1</per_page>
                      </records>
                      <links>
                         <first>?page=1</first>
                         <prev></prev>
                         <next>?page=2</next>
                         <last>?page=40</last>
                      </links>
                   </meta>
                   <data>
                      <payment>
                         <id>4c67e74b-a256-4e0a-965d-97bf5d01bd50</id>
                         <key>Key Example</key>
                         <expiration_time>2017-12-12 16:05</expiration_time>
                         <customer>
                            <id>22ea3cc9-424b-489a-91b7-8955f643dc93</id>
                            <name>Customer Example</name>
                            <email>customer@example.com</email>
                            <phone>911234567</phone>
                            <phone_indicative>+351</phone_indicative>
                            <fiscal_number>PT123456789</fiscal_number>
                            <key>Customer Key Example</key>
                            <language>PT</language>
                         </customer>
                         <method>
                            <type>MB</type>
                            <status>active</status>
                            <entity>10611</entity>
                            <reference>987654321</reference>
                            <url>https://www.easypay.pt/_s/c11.php?e=10611&r=987654321&v=19&t_key=example+key&c=EN&l=EN</url>
                            <last_four>1234</last_four>
                            <card_type>VISA</card_type>
                            <expiration_date>01/22</expiration_date>
                            <alias>626E6AA2224D017917D839D4D39296B49441A1D10DA7E8DB6E7E1A4356DDE75429531BEB32190C6D736FA12C7A116CA5F3FCAEE72570406F51371A0CB6E14B6B</alias>
                            <sdd_mandate>
                               <id>12345678901</id>
                               <billing_entity>PT16103627</billing_entity>
                               <iban>PT50002700000001234567833</iban>
                               <key>Key Example</key>
                               <name>Name Example</name>
                               <email>customer@example.com</email>
                               <phone>911234567</phone>
                               <account_holder>Account Name Example</account_holder>
                               <country_code>PT</country_code>
                               <max_num_debits>12</max_num_debits>
                            </sdd_mandate>
                         </method>
                         <currency>EUR</currency>
                         <max_value>0</max_value>
                         <min_value>10</min_value>
                         <authorisations></authorisations>
                         <transactions></transactions>
                         <unlimited_payments>true</unlimited_payments>
                      </payment>
                   </data>
                </report>
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
      operationId: frequent-get
    post:
      tags:
        - Frequent Payment
      summary: Create frequent payment
      parameters: []
      requestBody:
        description: Payment configuration object to generate a payment
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  expiration_time: '2017-12-12 16:05'
                  currency: EUR
                  customer:
                    id: 22ea3cc9-424b-489a-91b7-8955f643dc93
                    name: Customer Example
                    email: customer@example.com
                    phone: '911234567'
                    phone_indicative: '+351'
                    fiscal_number: PT123456789
                    key: Key Example
                    language: PT
                  key: Example Key
                  max_value: 20
                  min_value: 2
                  unlimited_payments: false
                  method: mb
                  sdd_mandate:
                    id: '12345678901'
                    iban: PT50002700000001234567833
                    key: Key Example
                    name: Name Example
                    email: customer@example.com
                    phone: '911234567'
                    account_holder: Acount Name Example
                    country_code: PT
                    max_num_debits: '12'
              properties:
                expiration_time:
                  type: string
                  format: 'Y-m-d H:i'
                  example: '2017-12-12 16:05'
                currency:
                  type: string
                  enum:
                    - EUR
                    - BRL
                  default: EUR
                  example: EUR
                customer:
                  $ref: '#/components/schemas/Customer'
                key:
                  type: string
                  description: The merchant's key for identifying the payment.
                  maxLength: 50
                  example: Key Example
                max_value:
                  type: number
                  format: double
                  minimum: 0.01
                  example: 25.5
                min_value:
                  type: number
                  format: double
                  minimum: 0.01
                  example: 10.5
                unlimited_payments:
                  type: boolean
                  default: true
                  description: 'Transactions will be unlimited, max or min value will be refreshed on each payment.'
                method:
                  $ref: '#/components/schemas/Payment_Frequent_Method_Available'
                sdd_mandate:
                  $ref: '#/components/schemas/SddMandate'
            examples:
              Create a Frequent Payment DD:
                value:
                  expiration_time: '2017-12-12 16:05'
                  currency: EUR
                  customer:
                    id: 22ea3cc9-424b-489a-91b7-8955f643dc93
                    name: Customer Example
                    email: customer@example.com
                    phone: '911234567'
                    phone_indicative: 351
                    fiscal_number: PT123456789
                    key: Key Example
                    language: PT
                  key: Key Example
                  max_value: '25,50'
                  min_value: '10,00'
                  unlimited_payments: true
                  method: dd
                  sdd_mandate:
                    id: '12345678901'
                    iban: PT50002700000001234567833
                    key: Key Example
                    name: Name Example
                    email: customer@example.com
                    phone: '911234567'
                    account_holder: Acount Name Example
                    country_code: PT
                    max_num_debits: '12'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status: ok
                    message:
                      - Your request was successfully created
                    id: 86401037-1c8d-4cf3-9172-d0a29b17b9fd
                    method:
                      type: CC
                      status: waiting
                      entity: '59126'
                      reference: '810000618'
                      url: 'https://eo5m73g8idr0idl.m.pipedream.net'
                    customer:
                      id: e7bb115b-3e59-441a-bdb4-60b0f066c2d0
                properties:
                  status:
                    type: string
                    example: ok
                  message:
                    type: array
                    items:
                      type: string
                      example: Your request was successfully created
                  id:
                    type: string
                    format: uuid
                  method:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - MB
                          - CC
                          - DD
                          - MBW
                          - VI
                      status:
                        type: string
                        enum:
                          - waiting
                          - pending
                          - active
                          - deleted
                      entity:
                        type: string
                        example: '59126'
                      reference:
                        type: string
                        example: '810000618'
                      url:
                        type: string
                        description: Only returns if the payment is a Credid Card.
                        example: 'https://cc.test.easypay.pt/start/980d4826-8574-4782-8450-18db150b7c26'
                  customer:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
              examples:
                Response from CC method:
                  value:
                    status: ok
                    message:
                      - Your request was successfully created
                    id: cd90455e-4ab3-42cf-a91c-cfc6e3afa65a
                    method:
                      type: cc
                      status: waiting
                      url: 'https://cc.test.easypay.pt/start/cd90455e-4ab3-42cf-a91c-cfc6e3afa65a'
                    customer:
                      id: 68d07e52-3e04-493f-aaeb-bffe7ddb81ee
            application/xml:
              example: |-
                <response>
                   <status>ok</status>
                   <message>
                      <string>Your request was successfully created</string>
                   </message>
                   <id>4c67e74b-a256-4e0a-965d-97bf5d01bd50</id>
                   <method>
                      <type>mb</type>
                      <status>waiting</status>
                      <entity>10611</entity>
                      <reference>987654321</reference>
                      <url>https://www.easypay.pt/_s/c11.php?e=10611&r=987654321&v=19&t_key=example+key&c=EN&l=EN</url>
                      <last_four>1234</last_four>
                      <card_type>VISA</card_type>
                      <expiration_date>01/22</expiration_date>
                      <alias>626E6AA2224D017917D839D4D39296B49441A1D10DA7E8DB6E7E1A4356DDE75429531BEB32190C6D736FA12C7A116CA5F3FCAEE72570406F51371A0CB6E14B6B</alias>
                      <sdd_mandate>
                         <id>12345678901</id>
                         <billing_entity>PT16103627</billing_entity>
                         <iban>PT50002700000001234567833</iban>
                         <key>Key Example</key>
                         <name>Name Example</name>
                         <email>customer@example.com</email>
                         <phone>911234567</phone>
                         <account_holder>Account Name Example</account_holder>
                         <country_code>PT</country_code>
                         <max_num_debits>12</max_num_debits>
                      </sdd_mandate>
                   </method>
                   <customer>
                      <id>22ea3cc9-424b-489a-91b7-8955f643dc93</id>
                   </customer>
                </response>
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
      description: |
        Frequent payments are repeatable transactions of varying sums without the client having to enter their payment details again.

        It is possible to limit the transferred sums by choosing minimum or maximum values, either to the total sum of the transactions or each individual transaction.

        Supported methods for frequent payments are: <i style="color:red">Credit Card, MB WAY, Multibanco, Direct Debit</i> and <i style="color:red">Virtual IBAN</i>
  '/frequent/{id}':
    get:
      tags:
        - Frequent Payment
      summary: Shows frequent payment details
      parameters:
        - name: id
          in: path
          description: Resource Identification
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    id: f15cee45-d5a5-469d-8cb2-79a6dcba977f
                    key: Default Key
                    expiration_time: '2022-12-12T16:05:00Z'
                    customer:
                      id: 48307582-91bc-4e15-a9f6-84633fbdd2c7
                      email: email@example.com
                      key: Customer key
                      language: PT
                    method:
                      type: DD
                      status: active
                      sdd_mandate:
                        id: '50124502381'
                        billing_entity: PT16103627
                        iban: PT50002700XXXXXXXXXXX7833
                        key: Sdd Mandate key
                        name: Frequent Payment DD
                        email: customer@example.com
                        phone: '911234567'
                        account_holder: Account Name Example
                        country_code: PT
                        max_num_debits: '0'
                    currency: EUR
                    max_value: 20.55
                    min_value: 2.32
                    unlimited_payments: false
                    created_at: '2022-11-23 11:56:35'
                properties:
                  id:
                    type: string
                    format: uuid
                  key:
                    type: string
                  expiration_time:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      key:
                        type: string
                      language:
                        type: string
                  method:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - MB
                          - CC
                          - DD
                          - MBW
                          - VI
                      status:
                        type: string
                        enum:
                          - waiting
                          - pending
                          - active
                          - deleted
                      url:
                        type: string
                        example: 'https://cc.test.easypay.pt/start/ab2f2eb6-3655-4951-98ae-36367d5f3727'
                        description: Only returns if the payment is a Credit Card.
                      last_four:
                        type: string
                        description: |
                          Only returns if the payment is a Credit Card.</br>Last 4 digits of the submitted Credit Card.
                      card_type:
                        type: string
                        description: Only returns if the payment is a Credit Card.
                        enum:
                          - MasterCard
                          - VISA
                      expiration_date:
                        type: string
                        description: Only returns if the payment is a Credit Card.
                      iban:
                        type: string
                        description: Virtual IBAN
                      alias:
                        type: string
                        description: MB WAY Alias (only for mobile implementation using MBWAY SDK).
                      sdd_mandate:
                        type: object
                        properties:
                          id:
                            type: string
                          billing_entity:
                            type: string
                          iban:
                            type: string
                          key:
                            type: string
                          country_code:
                            type: string
                          name:
                            type: string
                          email:
                            type: string
                          phone:
                            type: string
                          account_holder:
                            type: string
                          max_num_debits:
                            type: string
                  currency:
                    type: string
                  max_value:
                    type: number
                  min_value:
                    type: number
                  unlimited_payments:
                    type: boolean
                  created_at:
                    type: string
                    description: Date when payment was created.
                    example: '2017-12-12 16:05:02'
              examples:
                Response:
                  value:
                    id: ac1913a3-fd78-4822-8394-0a14f4169247
                    key: Default Key
                    expiration_time: '2022-12-12T16:05:00Z'
                    customer:
                      id: fdc4bc82-8e45-4597-b46d-51d3285cf935
                      name: Robert Stuart
                      email: email@example.com
                      phone: '911234567'
                      key: Customer key
                      language: PT
                    method:
                      type: CC
                      status: active
                      url: 'https://cc.test.easypay.pt/start/ac1913a3-fd78-4822-8394-0a14f4169247'
                      last_four: '0000'
                      card_type: VISA
                      expiration_date: 04/25
                    currency: EUR
                    max_value: 20
                    min_value: 2
                    unlimited_payments: false
                    created_at: '2022-11-23 13:16:58'
            application/xml:
              schema:
                $ref: '#/components/schemas/Payment_FrequentWithTransactions'
              example: |-
                <payment>
                   <id>4c67e74b-a256-4e0a-965d-97bf5d01bd50</id>
                   <key>Example Key</key>
                   <expiration_time>2019-12-12T16:05:00Z</expiration_time>
                   <customer>
                      <id>22ea3cc9-424b-489a-91b7-8955f643dc93</id>
                      <name>Customer Example</name>
                      <email>customer@example.com</email>
                      <phone>911234567</phone>
                      <phone_indicative>+351</phone_indicative>
                      <fiscal_number>PT123456789</fiscal_number>
                      <key>Key Example</key>
                      <language>PT</language>
                   </customer>
                   <method>
                      <type>MB</type>
                      <status>active</status>
                      <entity>10611</entity>
                      <reference>987654321</reference>
                      <url>https://www.easypay.pt/_s/c11.php?e=10611&r=987654321&v=19&t_key=example+key&c=EN&l=EN</url>
                      <last_four>1234</last_four>
                      <card_type>VISA</card_type>
                      <expiration_date>01/22</expiration_date>
                      <alias>626E6AA2224D017917D839D4D39296B49441A1D10DA7E8DB6E7E1A4356DDE75429531BEB32190C6D736FA12C7A116CA5F3FCAEE72570406F51371A0CB6E14B6B</alias>
                      <sdd_mandate>
                         <id>12345678901</id>
                         <billing_entity>PT16103627</billing_entity>
                         <iban>PT50002700000001234567833</iban>
                         <key>Key Example</key>
                         <name>Name Example</name>
                         <email>customer@example.com</email>
                         <phone>911234567</phone>
                         <account_holder>Account Name Example</account_holder>
                         <country_code>PT</country_code>
                         <max_num_debits>12</max_num_debits>
                      </sdd_mandate>
                   </method>
                   <currency>EUR</currency>
                   <max_value>20</max_value>
                   <min_value>2</min_value>
                   <unlimited_payments>false</unlimited_payments>
                   <transactions>
                      <transaction>
                         <id>e71d9cd2-89dc-4662-a160-47def7c3ff82</id>
                         <key>chave capt</key>
                         <date>2019-06-28T16:52:59Z</date>
                         <values>
                            <requested>10.02</requested>
                            <paid>10.02</paid>
                            <fixed_fee>0</fixed_fee>
                            <variable_fee>0</variable_fee>
                            <tax>0</tax>
                            <transfer>10.02</transfer>
                         </values>
                         <transfer_date>2019-06-28T00:00:00Z</transfer_date>
                         <method>mbw</method>
                         <document_number>TEST12300000000</document_number>
                      </transaction>
                   </transactions>
                   <authorisations>
                      <authorisation>
                         <id>71fef07d-e566-4b53-a467-a5181dd804a7</id>
                         <status>success</status>
                         <key>chave capt</key>
                         <value>10.02</value>
                         <transactions></transactions>
                      </authorisation>
                   </authorisations>
                </payment>
            text/csv:
              schema:
                $ref: '#/components/schemas/Payment_FrequentWithTransactions'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              schema:
                $ref: '#/components/schemas/StatusFailed'
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
            text/csv:
              schema:
                $ref: '#/components/schemas/StatusFailed'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              schema:
                $ref: '#/components/schemas/StatusFailed'
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
            text/csv:
              schema:
                $ref: '#/components/schemas/StatusFailed'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              schema:
                $ref: '#/components/schemas/StatusFailed'
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
            text/csv:
              schema:
                $ref: '#/components/schemas/StatusFailed'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              schema:
                $ref: '#/components/schemas/StatusFailed'
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
            text/csv:
              schema:
                $ref: '#/components/schemas/StatusFailed'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              schema:
                $ref: '#/components/schemas/StatusFailed'
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
            text/csv:
              schema:
                $ref: '#/components/schemas/StatusFailed'
      operationId: frequent-id-get
      description: ''
    delete:
      tags:
        - Frequent Payment
      summary: Deletes frequent payment
      description: '3 times a day (10am, 3pm and 10pm) our system will attempt to close your deleted MB payments.<br>All CC and MBW authorisations will be deleted, releasing the funds.<br>All MBW operations waiting for user interaction will be cancelled.<br>Before 6pm all Sepa Direct Debits waiting for file processing will be cancelled.'
      parameters:
        - name: id
          in: path
          description: Resource Identification
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No content
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusFailed'
            application/xml:
              example: |-
                <response>
                   <status>error</status>
                   <message>
                      <string>Custom error message</string>
                   </message>
                </response>
    patch:
      tags:
        - Frequent Payment
      summary: Updates frequent payment details
      parameters:
        - name: id
          in: path
          description: Resource Identification
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Frequent Payment object to edit existing one
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  status: active
                  expiration_time: '2017-12-12 16:05'
                  currency: EUR
                  customer:
                    id: 22ea3cc9-424b-489a-91b7-8955f643dc93
                    name: Customer Example
                    email: customer@example.com
                    phone: '911234567'
                    phone_indicative: '+351'
                    fiscal_number: PT123456789
                    key: Key Example
                    language: PT
                  key: Example Key
                  max_value: 20
                  min_value: 2
                  unlimited_payments: false
                  sdd_mandate:
                    id: '12345678901'
                    iban: PT50002700000001234567833
                    key: Key Example
                    name: Name Example
                    email: customer@example.com
                    phone: '911234567'
                    account_holder: Acount Name Example
                    country_code: PT
                    max_num_debits: '12'
              properties:
                status:
                  type: string
                  enum:
                    - active
                    - deleted
                expiration_time:
                  type: string
                  format: 'Y-m-d H:i'
                  example: '2017-12-12 16:05'
                currency:
                  type: string
                  enum:
                    - EUR
                    - BRL
                  default: EUR
                  example: EUR
                customer:
                  $ref: '#/components/schemas/Customer'
                key:
                  type: string
                  description: The merchant's key for identifying the payment.
                  maxLength: 50
                  example: Key Example
                max_value:
                  type: number
                  format: double
                  minimum: 0.01
                  example: '25,50'
                min_value:
                  type: number
                  format: double
                  minimum: 0.01
                  example: '10,00'
                unlimited_payments:
                  type: boolean
                  default: true
                  description: 'Transactions will be unlimited, max or min value will be refreshed on each payment.'
                sdd_mandate:
                  $ref: '#/components/schemas/SddMandate'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status: ok
                    message:
                      - Your request was successfully created
                    id: 86401037-1c8d-4cf3-9172-d0a29b17b9fd
                    method:
                      type: cc
                      status: waiting
                      url: 'https://cc.test.easypay.pt/start/86401037-1c8d-4cf3-9172-d0a29b17b9fd'
                    customer:
                      id: e7bb115b-3e59-441a-bdb4-60b0f066c2d0
                properties:
                  status:
                    type: string
                    example: ok
                  message:
                    type: array
                    items:
                      type: string
                      example: Your request was successfully created
                  id:
                    type: string
                    format: uuid
                  method:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - MB
                          - CC
                          - DD
                          - MBW
                          - VI
                      status:
[...]
